{% extends 'base.html' %}
{% block navname %}Affective Domain{% endblock navname %}
{% block body %}

<div style="background-color: rgb(243, 255, 228);" class="container py-2 py-md-4 rounded rounded-5">
<h1 class="text-center my-3 text-success">Test Started</h1>
<div class="text-center">
    <p class="text-muted">You have to answer just <strong>11</strong> questions, which takes only <strong>3 minute.</strong> </p>
</div>

<form method="post" class="container" action="affectiveDomain">
    {% csrf_token %}
    <div class="row my-5 py-4 rounded rounded-3" style="background-color: rgb(204, 240, 204);">
        <h2 style="color: rgb(63, 6, 63);" class=" col-md-6">1. Do you think your child listens to others with respect?</h2>
        <div class="d-flex col-md-6 justify-content-evenly align-items-start pt-2">
            <div class="form-check justify-content-center form-check-inline">
                <input class="form-check-input bg-success" required value="Yes" type="radio"
                    name="q1" id="inlineRadio1">
                <label class="form-check-label" for="inlineRadio1">Yes</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input bg-danger" value="No" type="radio" name="q1"
                    id="inlineRadio2">
                <label class="form-check-label" for="inlineRadio2">No</label>
            </div>
        </div>
    </div>
    <div class="row my-5 py-4 rounded rounded-3" style="background-color: rgb(204, 240, 204);">
        <h2 style="color: rgb(63, 6, 63);" class=" col-md-6">2. Would you think your child to have made preferences towards plant-based diet?</h2>
        <div class="d-flex col-md-6 justify-content-evenly align-items-start pt-2">
            <div class="form-check justify-content-center form-check-inline">
                <input class="form-check-input bg-success" required value="Yes" type="radio"
                    name="q2" id="inlineRadio1">
                <label class="form-check-label" for="inlineRadio1">Yes</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input bg-danger" value="No" type="radio" name="q2"
                    id="inlineRadio2">
                <label class="form-check-label" for="inlineRadio2">No</label>
            </div>
        </div>
    </div>
    <div class="row my-5 py-4 rounded rounded-3" style="background-color: rgb(204, 240, 204);">
        <h2 style="color: rgb(63, 6, 63);" class=" col-md-6">3. Do you think your child does believe in the theory of evolution?  </h2>
        <div class="d-flex col-md-6 justify-content-evenly align-items-start pt-2">
            <div class="form-check justify-content-center form-check-inline">
                <input class="form-check-input bg-success" required value="Yes" type="radio"
                    name="q3" id="inlineRadio1">
                <label class="form-check-label" for="inlineRadio1">Yes</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input bg-danger" value="No" type="radio" name="q3"
                    id="inlineRadio2">
                <label class="form-check-label" for="inlineRadio2">No</label>
            </div>
        </div>
    </div>
    <div class="row my-5 py-4 rounded rounded-3" style="background-color: rgb(204, 240, 204);">
        <h2 style="color: rgb(63, 6, 63);" class=" col-md-6">4. Do you think your child thinks about the socialism is the best philosophy for governments?  </h2>
        <div class="d-flex col-md-6 justify-content-evenly align-items-start pt-2">
            <div class="form-check justify-content-center form-check-inline">
                <input class="form-check-input bg-success" required value="Yes" type="radio"
                    name="q4" id="inlineRadio1">
                <label class="form-check-label" for="inlineRadio1">Yes</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input bg-danger" value="No" type="radio" name="q4"
                    id="inlineRadio2">
                <label class="form-check-label" for="inlineRadio2">No</label>
            </div>
        </div>
    </div>
    <div class="row my-5 py-4 rounded rounded-3" style="background-color: rgb(204, 240, 204);">
        <h2 style="color: rgb(63, 6, 63);" class=" col-md-6">5. Do you think your child feels excessive use of internet is deleterious for the health of children?</h2>
        <div class="d-flex col-md-6 justify-content-evenly align-items-start pt-2">
            <div class="form-check justify-content-center form-check-inline">
                <input class="form-check-input bg-success" required value="Yes" type="radio"
                    name="q5" id="inlineRadio1">
                <label class="form-check-label" for="inlineRadio1">Yes</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input bg-danger" value="No" type="radio" name="q5"
                    id="inlineRadio2">
                <label class="form-check-label" for="inlineRadio2">No</label>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center justify-content-md-end">
        <button class="btn btn-success" type="submit">Next</button>
    </div>
</form>
</div>
{% endblock body %}